<!DOCTYPE html>
<html>
<head>
  <title>Spa : Single Page Application </title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery-1.4.4.min","LAB.min","underscore-min","backbone-min","jquery.tmpl.min","application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
